a.active {
    color: orange;
}

.tomato {
    color: tomato !important;
    font-style: italic
}

.mob {
    color: #4d4d4d;
}

@font-face{
    font-family:'flicker';
    src: url('./flicker.otf');
}

body, html, #app, div.root, .timerpage {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #4d4d4d;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: forestgreen;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
